@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mapbox-gl/dist/mapbox-gl.css';
@import './styles/weather-icons.css';

.navbar {
    transition: transform 1s ease;
    transform: translateY(-100%);
  }
  
  .navbar-show {
    transform: translateY(0);
  }
  
